{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div class="container" style="background: black; color:wheat; text-align: -webkit-center;">
            <div class="col-md-5 col-sm-12 text-center">
                <h1>Order Submitted!</h1>
                <p>You should receive a confirmation email soon.</p>
                    <div class="progress">
          <div class="indeterminate"></div>
      </div>
    
                <a href="{% url 'index' %}">Go to the homepage</a>
            </div>
</div>
<style>
     body{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
@media (max-width: 750px){
 body{
    background-image: url(/static/img/idk2.jpeg);
 }
 }
</style>


{% endblock content %}