{% extends 'base.html' %} {% block content %}
<body>
<div class="container">
  <div class="box">
<img src="/static/img/URBAN JUNGLE.png" >
  </div>
<div class="box12">
<div class="box1">
      <a href="#" ><img src="https://fontmeme.com/permalink/210725/3fe735367dbd078b05a4780e492bb3c8.png" alt="plush-font" border="0
" style="top: -99px;"></a>
</div>
  <div class="box2">
      <a href="{% url 'order' %}" ><img src="/static/img/renew.png"></a>
</div>
</div>
</div>
</body>
<style>
    body{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;


}
  .container{
    width: 100%;
  }
  .container .box{

    margin-left: 995px;
    margin-top: 22px;
  }
  .container .box img{
      height: 232px;
  }
  .container .box1{
    margin-left: 250px;
  }
  .container .box2{
    margin-left: 300px;
  }
  .container .box12{
    margin-top: 90px;
  }
 @media (max-width: 750px){
 body{
    background-image: url(/static/img/idk2.jpeg);
 }

    .container .box{

    margin-left: 72px;
    margin-top: 74px;
  }
  .container .box img{
      height: 190px;
  }
  .container .box1{
    margin-left: 26px;
  }
  .container .box2{
    margin-left: 47px;
  }
  .container .box12{
    margin-top: 68px;
    margin-left: -30px;
  }
  .container .box12 .box1 a img{
      height: 32px;
  }
  .container .box12 .box2 a img{
      height: 104px;
  }
 }
</style>

{% endblock %}


